*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.infoWrapper
{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:linear-gradient(to Bottom Right,rgba(0, 0, 0, 0.981),rgba(2, 2, 15, 0.463));
}
.kbs_bannerTitle
{   color:gold;
    font-size:1.5rem;
    line-height:2rem;
    font-weight:700;
}
.infoContainer1
{
    display: flex;
    flex-direction: column;
}
.infoContainer1 p{
    font-size:1rem;
    color:white;
}

.infoContainer2{
    column-gap:20px;
    flex-direction: row;
    justify-items: center;
  }
  
.infoContainer2 a{
    font-size:1rem;
    color:white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid white;
}
.infoContainer2 a:hover{
    color:gold;
    text-shadow: 1px 1px 2px gold;
} 
.advertisementWrapper
{   display:flex;
    border-radius: 10px;
    justify-content: center;
}
.container{
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:hsl(225, 33%, 98%);

}

.imgcrousel
{
   width:50vw;
   height:60vh;
   box-shadow:1px 3px 10px gray;
   border-radius:10px;

}
.imgcrousel img{
    width:100%;
    height:100%; 
    
}
img{
    width:50px;
    height:50px;
}

.cycleInfoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:5px 45px;
    border-radius:10px;
    background-image:linear-gradient(to Bottom Right,rgba(0, 0, 0, 0.981),rgba(2, 2, 15, 0.463));
}

.cycleInfoWrapper div:first-child{
    background-color: green;
    border-radius: 10px;
}
.itemWrapper{
    display: flex;
    flex-direction: column;
    row-gap:10px;
    padding:0px 10px;
}

.itemContainer
{
    display: flex;
    justify-content: center;
    color:white;
    border-radius: 10px;
    padding:5px 20px;
    row-gap: 0px;
    column-gap:5px;
}
.itemContainer:hover{
    color:orange;
    border-radius:10px;
    font-weight: bolder;
    transition: all 2s linear 1s;
    background-image:linear-gradient(rgba(190, 185, 177, 0.265),rgba(55, 55, 81, 0.362));
}

.sellerInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:10px;
    background-color: green;
    color:white;
    padding:10px 10px;
 
}
.addressContactInfo
{   display: flex;
    column-gap: 20px;
    padding:5px 20px;

}
.addressContactInfo img{
    width:50px;
    height:50px;
}
.addressContactInfo span:first-child a
{
    text-decoration: none;
    color:white;
}

.sellerInfo div:nth-child(2) span
{
   text-align: center;
   padding: 10px 0px;
    
} 
.infoTitle
{
    color:gold;
    text-align: center;
}

.flashSaleWrapper
{
    width:100%;
    display: grid;
    justify-content: center;
    gap: 0.6vw;
    grid-template-columns: auto auto auto auto auto  ;
}
.saleWrapper
{
    margin-top:10px;

}

.saleTitle
{
    padding:10px 5px;
    font-size:30px;
    color:#424242;
   text-transform: capitalize;
     font-style: italic;   
    text-shadow: 1px 1px 2px blue  ;
}

/* for overlay  */


@media screen and (min-width:370px)
{
    .infoWrapper{
        width:100vw;
        padding:30px 2vw;
        column-gap:10px;
    }
    .infoContainer1 span
    {
        font-size:1rem;
    }
    .infoContainer1 p 
    {
        font-size:0.75rem;
    }
    .infoContainer2 a 
    {
        font-size:0.5rem;
    }
    .advertisementWrapper
    {
        flex-direction: column;
     
    }
    .cycleInfoWrapper{
        row-gap:30px;
           padding:10px 10px;

    }
    .imgcrousel
    {
       width:100vw;
       height:60vh;
       box-shadow:1px 3px 10px gray;
       border-radius:10px;
    
    }
    .kbs_bannerTitle{
        font-size:1rem;
    }
    
    .flashSaleWrapper
    {
       grid-template-columns: auto  ;
       row-gap:5vh;
     }

     
}
@media screen and (min-width:500px) {

    .flashSaleWrapper
    {
       grid-template-columns: auto  auto ;
       gap:5vh;
     }
     .advertisementWrapper
     {
         flex-direction: row;
         margin-top: 4vw;
      
     }
     .imgcrousel
     {
        width:50vw;
        height:60vh;
     
     }
   .kbs_bannerTitle
     {font-size:1rem;
     }
     .infoContainer2 a
     {
        font-size: 0.60rem;
     }
     
}

@media screen and (min-width:900px)
{
    .flashSaleWrapper
    {
       grid-template-columns: auto  auto auto ;
       gap:5vh;
     }
     .infoWrapper{
        width:100vw;
        padding:30px 9vw;
        column-gap:10px;
    }
    .infoContainer1 span
    {
        font-size:1.3rem;
    }
    .infoContainer1 p 
    {
        font-size:0.95rem;
    }
    .infoContainer2 a 
    {
        font-size:0.95rem;
    }

}


 @media screen and (min-width:960px) {
    .imgcrousel
    {
       width:58vw;
       height:100vh; 
    }
    
} 

@media screen and (min-width:1300px)
{
    .infoWrapper{
        padding:27px 15.5rem;
        border:3px solid blue;
    }
    .kbs_bannerTitle{
        font-size: 1.5rem;
    }
    .infoContainer1 p,a{
        font-size:1rem;
    }
    .imgcrousel{
        width:53vw;
        height:60vh;

    }
    .flashSaleWrapper{
        grid-template-columns: auto auto auto auto auto;
        gap:0.6vw;
    }

}