.productListWrapper
{
   display:flex;
   flex-direction:row;
   justify-content: center;
   width:100vw;
}
.wholeSortWrapper
{
    display: flex;
    flex-direction:column;
    row-gap:30px;    
}
.sortWrapper
{
    display: flex;
    /* row-gap:10px; */
    flex-direction: column;

}
.sortCotainer
{
    display: grid;
    gap:10px;
    padding:5px 5px;
    /* border:3px solid yellow; */
    grid-template-columns: auto auto auto;
}
.sortBtn{
    padding: 10px 5px;
    background-color: rgba(128, 128, 128, 0.354);
    border: none;
    font-style: italic;
    color: green;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray;
}


.saleTitle
{
    /* padding:10px 10px; */
    padding:5px 5px;
    font-size:30px;
    color:#424242;
   text-transform: capitalize;
     font-style: italic;   
    text-shadow: 1px 1px 2px blue  ;
}

.productWrapper
{
    padding:10px 22px;
    display: grid;
     gap:10px;
    grid-template-columns: auto auto auto auto ;

}
@media screen  and (min-width:370px){
    .productListWrapper{
        flex-direction: column;
       
    }
    .wholeSortWrapper{
        padding:1px 1vw;

    }
    .productWrapper{
        grid-template-columns: auto;

    }
}

@media screen and (min-width:500px)
{

    .productListWrapper{
        flex-direction: row;
       
    }
    .productWrapper{
        grid-template-columns: auto ;

    }
    .sortCotainer{
        grid-template-columns: auto auto;
    }

}
@media screen and (min-width:900px) {
    .productWrapper{
        grid-template-columns: auto auto ;

    }
    .sortCotainer{
        grid-template-columns: auto auto auto;
    } 

    
}
@media screen and (min-width:1300px) {
    .productWrapper{
        grid-template-columns: auto auto auto auto ;

    }

    
}