
/* define the common col */
.flexCol
{
    display:flex;
    row-gap:0.2em;
    flex-direction: column;
}
.flexRow
{
    display: flex;
    flex-direction: row;
}
.wholeSignupWrapper
{
    margin-top:20px;
    row-gap:1rem;
    /* border:3px solid blue; */
    align-items:center;
    justify-content: center;
    background-color:  #f5f5f5;
    padding:2rem 0rem
}

.signupHeader
{
    margin:auto;
    padding:10px 20px;
    column-gap:5vw;
}
.signupHeader p button:hover{
color: orange;
outline:none;
transition: all 0.5s linear ;
padding:2px 3px ;
box-shadow: 0px 0px 5px;


} 
.signupHeader h2{
    font-size: 1.5rem;
    font-weight: bold;
}
.signupHeader p{
    font-size:1.5rem;
}
.signupHeader a{
    font-size:1.5rem;
    color:blue;
}
.passwordWrapper div{
    justify-content: space-between;
    align-items: center; 
    border-radius:10px;
    padding:10px;
    border:1px solid black;
}
.signupContainer
{ 
     background-color: white;
     box-shadow:0px 0px 5px ;

    box-shadow: 3px 3px 3px white;
}
.signupContainer form
{
    display: flex;
    gap:1rem 5rem;
    padding:2em 3em;

}
.signupContainer form >div:nth-child(1),form >div:nth-child(2){
    row-gap:0.7vw;
}

.userWrapper{
   padding:0.5rem 0.5rem;
}
.userContainer{
    display: flex;
    gap:1vw;
}
.genderWrapper
{
    column-gap: 1vw;
}

.inputStyle{
    padding:0.75rem 1.5rem;
    border-radius:8px;
    border:1px solid black;

}
.passwordWrapper input{
    border:none;
    outline:none; 
}

.btnSignup
{
    background-color:rgb(5, 204, 5);
    text-align:center;
    color:white;
    font-weight: 900;
    border:none;
    width:100%;
    font-size:1.2em;
    border-radius:10px;
    font-weight:300px;
    padding:0.5rem 5rem;
}
.headTitleBold{
    font-weight: bold;
    font-size: 1.2em;
}
.error
{
    color:red;
    font-size:15px;
}


@media screen and (max-width:600px)
{
    .signupHeader{
        column-gap: 0.5vw;
        /* border:3px solid blue; */
    }
    .signupHeader p{
        font-size:1rem;
    }
    .signupHeader a{
        font-size:1rem;
    }
    
   
    .signupContainer form{
        flex-direction:column;
        padding:2em 3em;
        
    }
    .signupContainer form >div:nth-child(1),form >div:nth-child(2){
        column-gap:0.7vw;
    }
   
    .flexCol{
        row-gap: 0.4em;
    }
    input{
        width:100%;
        font-size:1.3em;
    }
    label
    {
        font-size:1.6em;
    }
    .headTitleBold{
        font-size:1.5em;
    }
    .btnSignup{
     background-color:orange;
     font-size:1.8em;
     width:100%;
     padding:0.5rem 1rem;
       
    }
}



