.sellerMenuWrapper{
    display: flex;
    padding:10px 0px ;
    background-color: #f4f4f4;
    column-gap: 5rem;
    justify-content: center;
}
.sellerMenuWrapper li{
    padding:5px 15px;
    border-radius:10px;
     color:white;
     transition:2s;
     font-weight:900;
    background-color: rgb(5, 204, 5);

}
.sellerMenuWrapper li:hover{
   opacity: 0.5;
   
}