*
{
  padding:0;
  font-family: Tomato Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  margin:0;
  box-sizing:border-box;
}

.navbarContainer
{
  display: flex;
  flex-direction:row;
  column-gap:30px; 
  /* border:3px solid green; */
  padding: 1px 15px;
  position:sticky;
  top:0px;
  background:#fff;  
}

ul{
  display:flex;
  column-gap: 1vw;
  align-items:center;
}
ul li,span{
  list-style-type:none;
  font-size:1.25rem;
  font-family: Tomato Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  font-weight:400;
  text-rendering: optimizeLegibility;
}
.imgContainer{
  padding:2px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgContainer span{
  text-align: center;
  font-weight:bold;
  font-size:2rem;
}
.imgContainer img{
  width:50px;
  height:50px;
}

.navbarContainer ul li{
  padding:20px 10px;
}

li:hover
{
  border-radius: 0.125rem;
  font-weight: bold;
  background-color: #f7f8fb;
  font-weight: 500;

}
.link {
  color: #000; 
  text-decoration: none;
  /* background-color: #f7f8fb; */

}
.active {
  color: #4caf50; 
  font-weight: bold; 
  padding:20px 10px;
  background-color: #f7f8fb;
}
.logoutContainer{
  display: flex;
  align-items: center;
  column-gap:1vw;
}
.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px; /* Adjust width as needed */
  border-radius: 8px;
  padding: 8px;
}

.searchInput {
  width: 100%;
   padding: 10px 10px; /* Leave space for icon */
  font-size: 1rem;
  border-radius: 8px;
}

.searchIcon {
  position: absolute;
  right: 12px;
  /* font-family: Tomato Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif; */
  font-size: 1.5rem;
  color: #888; /* Adjust color */
  cursor: pointer;
}
.navbarContainer ul li  i{
  display: none;
}

.overlay{
  position:fixed;
  width:100%;
  height:100%;
  top:0p;
  left:0;
  right:0;
  /* display: none; */
  bottom:0px;
  background-color: rgba(0, 0, 0, 0.739);
  z-index:2;
  cursor: pointer;
}
.hamburgerContainer
{
  display: none;
  margin:auto;
}
.hamburgerContainer button
{
  border:none;
}


/* here making the menu for overlay */
.menuWrapper{

  display: flex;
  flex-direction: column;
  row-gap:4vw;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  z-index: 2;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

}

.menuWrapper a{
  display: flex;
  color:blue;
  justify-content: space-between;
  color:white;
  text-decoration: none;
  text-transform: capitalize;
}
.menuWrapper i{
  margin-left:3vw;
  color:blue;
}


@media screen and (min-width:370px) {

  .navbarContainer{
    background-color: orange;
  }
  .hamburgerContainer{
    display: inline;
  }
  .hamburgerContainer button i{
    font-size:2rem;
  }

  .navbarContainer
  { column-gap:3vw;  }

  .navbarContainer ul
  {
    display: none;
  }
  .logoutContainer
  {
    display: none;
  }
  .searchInput{
    padding:5px 1px;
  }
  .searchContainer {
     width: 80%;
     padding: 5px;
  }
  .searchIcon{
    font-size:1rem;
  }
  .followLink
  {
   border:3px solid blue;
  }
 
  .imgContainer span{
    
    font-size:1rem;
  }


}
@media screen and (min-width:400px)
{
  .navbarContainer ul li{
   
    padding:0px 0px 0px 0px; 
}
.navbarContainer ul li span{
  font-size: 0.60rem;
}

}

@media screen and (min-width:600px)
{
  .navbarContainer ul li{
   
    padding:0px 0px 0px 0px; 
}
.navbarContainer ul li span{
  font-size: 0.90rem;
}

}

@media screen and (min-width:500px)
{
  .navbarContainer
{
  column-gap:0px; 
  background:#fff;  
}
  .hamburgerContainer{
    display: none;
  }
  .navbarContainer ul
  {
    display: flex;
    padding:0px
  }
  .navbarContainer ul li{
   
      padding:0px 5px 0px 0px; 
  }
  
  .logoutContainer
  {
    display: inline;
  }

  .searchContainer {
    max-width: 150px; 
    padding: 3px;
  }
  
  .searchInput {
    width: 100%;
     padding: 5px 5px; 
    font-size: 0.75rem;
  }
  
  .logoutContainer{
    display: flex;
  }
  .logoutContainer span{
    display: none;
  } 

}

@media screen and (min-width:750px)
{

  .logoutContainer span{
    display: inline;
    font-size:0.90rem;
  } 


  .searchContainer {
    max-width: 300px; 
    padding: 5px;
  }
  
  .searchInput {
    font-size: 0.90rem;
  }
}


@media screen  and (min-width:1300px){
  .navbarContainer{
    column-gap: 30px;
    padding: 1px 15px;
  }

  .navbarContainer ul li span{

   font-size:1.25rem;
  }
  .imgContainer  span 
  {
    font-size: 2rem;
  }
  .logoutContainer span{
    font-size:1.25rem;

  }
}