
.mainPopertyStyle
{
    color:#f57224;
    text-transform:capitalize;
    font-weight:800;
    transition: 1s;
    opacity: 0.7;
    
}
.mainPopertyStyle:hover{
    opacity: 1;

}
.productWrapper
{  
    width:13.3vw;
    padding:1rem 0.2rem;
    background-color: white;
    border-radius:10px;
    box-shadow: 1px 1px 8px gray;
    transition:all 1s linear 0s; 

}
.productWrapper div:active,img:active{
    border:1px solid green
}
.productWrapper img{
    width:100%;
    height:10rem;
}
.productWrapper:hover
{
    box-shadow: none;
    cursor:pointer;

}
.productContainer
{  display: flex;
    flex-direction: column;
    row-gap:5px;
    padding:10px 10px;
    line-height:120%;
}
.productContainer h2{
    font-size:1.5em;

   
    color:#f57224;
}




.price 
{
    color:#f57224;
    font-weight:bold;
    font-style: italic;
    text-transform: capitalize;
    
}

.description
{
    font-size:0.8rem
}


@media screen and (min-width:370px)
{
    .productWrapper{
       width:90vw;
    
       
    }
}

@media screen and (min-width:500px)
{
    .productWrapper{
       width:45vw;
    }
}

@media screen and (min-width:900px)
{
    .productWrapper{
       width:25.3vw;
    }
}

@media screen and (min-width:1300px)
{
    .productWrapper{
       width:13.3vw;
    }
}

