
.productWrapper
{  
    /* border:3px solid green; */
    width:13.3vw;
    /* height:20vw; */
    padding:1rem 0.2rem;
    background-color: white;
    border-radius:10px;
    box-shadow: 1px 1px 8px gray;
    transition:all 1s linear 0s; 
    /* background-color:green; */

}
.productWrapper div:active,img:active{
    /* background-color: green; */
    border:1px solid green
}
.productWrapper img{
    width:100%;
    height:10rem;
}
.productWrapper:hover
{
    box-shadow: none;
    cursor:pointer;

}
.productContainer
{  display: flex;
    flex-direction: column;
    row-gap:5px;
    padding:10px 10px;
    line-height:120%;
    /* border:3px solid blue;    */
}
.price 
{
    color:#f57224;
    font-weight:bold;
    font-style: italic;
    
}
.description
{
    font-weight:bold;
}


@media screen and (min-width:370px)
{
    .productWrapper{
       width:90vw;
    
       
    }
}

@media screen and (min-width:500px)
{
    .productWrapper{
       width:45vw;
    }
}

@media screen and (min-width:900px)
{
    .productWrapper{
       width:25.3vw;
    }
}

@media screen and (min-width:1300px)
{
    .productWrapper{
       width:13.3vw;
    }
}

